@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  @apply bg-black text-white;
}

@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 900px) {
  body {
    font-size: 18px;
  }
}

.welcomeContent {
  height: calc(100vh - 4rem);
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .btn-prim {
    @apply bg-[#D600C4] rounded text-white font-normal px-12 py-2 hover:bg-[#FF10F0] focus:outline-none;
  }
  .btn-inactive {
    @apply rounded-md text-gray-500 font-normal px-12 py-2 focus:outline-none;
  }
  .disabled {
    @apply bg-[#86007d] hover:bg-none rounded-md font-normal px-12 py-2 focus:outline-none;
  }
  .border {
    @apply border-[0.1px] border-gray-500 rounded;
  }
}
