@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  @apply bg-[#0D0D0D] text-white;
}

@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

.welcomeContent {
  height: calc(100vh - 5rem);
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .btn-prim {
    @apply bg-[#FF10F0] rounded-xl text-white font-light text-sm px-8 py-2 hover:bg-[#E935C1] focus:outline-none transition-colors;
  }
  .btn-inactive {
    @apply rounded-xl text-gray-500 font-light text-sm px-8 py-2 focus:outline-none bg-transparent hover:bg-white/5 transition-colors;
  }
  .disabled {
    @apply bg-[#1A1A1A] hover:bg-[#1A1A1A] rounded-xl font-light text-sm px-8 py-2 focus:outline-none cursor-not-allowed text-gray-400;
  }
}
