@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  @apply bg-black text-white;
}

.indexContent {
  height: calc(100vh - 4rem);
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .btn-prim {
    @apply bg-[#D600C4] rounded-md text-white font-normal px-10 py-2 hover:bg-[#FF10F0] focus:outline-none;
  }
  .btn-inactive {
    @apply bg-[#86007d] rounded-md text-white font-normal px-10 py-2 hover:bg-[#E00EDE] focus:outline-none;
  }
}
