/*!********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/Buttons/RippleButton/index.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************/
.RippleButton_ripple__OiKKH {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: RippleButton_ripple__OiKKH 600ms linear;
  background-color: rgba(255, 255, 255, 0.7);
}

@keyframes RippleButton_ripple__OiKKH {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

